<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Student Page</title>
</head>
<body style="text-align: center">
<button type="button" class="btn btn-outline-primary" ><a th:href= "@{/companies}">Company</a></button>
<button type="button" class="btn btn-outline-secondary" th:href="@{/courses}"><a th:href= "@{/courses}">Course</a></button>
<button type="button" class="btn btn-outline-success" th:href="@{/groups}"> <a th:href= "@{/groups}">Group</a></button>
<button type="button" class="btn btn-outline-danger" th:href="@{/teachers}"><a th:href="@{/teachers}">Teachers</a></button>
<button type="button" class="btn btn-outline-warning" th:href="@{/students}"><a th:href="@{/students}">Students</a></button>
<table >
  <tr th:each="student:${students}">
    <td th:text="${student.firstName}"></td>
    <td th:text="${student.lastName}"></td>
    <td th:text="${student.email}"></td>
    <td th:text="${student.studyFormat}"></td>
    <td><a th:href="@{/students/{id}/updateStudent(id=${student.id})}">
      <button style="height: 30px; width: 100px; background-color:blue;">update</button>
    </a>
    </td>
    <td><form th:method="DELETE" th:action="@{/students/{id}(id=${student.getId()})}">
      <input type="submit" value="delete" style="height: 30px; width: 80px; background-color:red;"/></form></td>
  </tr>
</table>
<br><br>

<a href="/students/addStudent"><input type="submit" class="btn btn danger" value="Add Student"></a>
</body>
</html>


