<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="login-box">
    <h2>Update</h2>
    <form action="#"
          th:method="PATCH"
          th:action="@{/teachers/{id}(id=${teacherUpdate.getId()})}"
          th:object="${teacherUpdate}">

        <div class="form-group">
            <label >Group Name</label>
            <input th:field="${teacherUpdate.firstName}" class="form-control">
        </div>
        <div class="form-group">
            <label>Date of Start</label>
            <input th:field="${teacherUpdate.lastName}" class="form-control">
        </div>
        <div class="form-group">
            <label>Date of Finish</label>
            <input th:field="${teacherUpdate.email}" class="form-control" >
        </div>

        <button type="submit" value="Update" class="btn btn-primary">Update</button>
    </form>
    <div class="back-button">
        <a th:href="@{/teachers}">
            <button class="button">Go update</button>
        </a>
    </div>
</div>
</body>
</html>