<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>

<body>

<form
        action="#"
        th:action="@{/courses/saveUpdate/{id}(id=${course.id})}"
        th:object="${course}"
        method="post"
        style="text-align:center; margin-top:200px; font-size: 30px;">

    <input type="hidden" name = "id" th:field="*{id}">
    <input type="text"  name="courseName" th:field="*{courseName}" placeholder="Course Name">
    <br><br>
    <input type="text"  name="duration Month" th:field="*{durationMonth}" placeholder="Duration month">

    <select th:field="${course.company.id}">
        <option th:each="company:${companyList}"
                th:value="${company.getId()}"
                th:text="${company.getCompanyName()}"></option>
    </select>

    <input type="submit" value="Add">
</form>
</body>
</html>